body{
    display:flex;
    justify-content: center;
    background-color: blue;
}

.contenedor{
    
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;

}

.titulo{
    
    margin: 60px;
    color: red;
    padding-top: 20px;
    
}

.imagen{ 
    
    max-width: 320px;
    float: left;
    padding-left: 60px;
    padding-right: 60px;
    width: 0px 20px;
    height: 0px 30px;
    
}

.text-box2{
    padding-left: 60px;
}